.community {
  padding-bottom: 70px;
  /* background-image: url('../../Source/Image/backGround.svg');
  background-repeat: no-repeat;
  background-size: cover; */
  background: linear-gradient(45deg,  white, black);
}
.community h1 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  padding-bottom: 60px;
  padding-top: 40px;
  margin: 0;
}
.community-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.communityBox {
  padding-top: 40px;
  padding-bottom: 50px;
}
.communityBox h2 {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}
.communityBox h3 {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  font-style: italic;
  margin: 0;
}
.communityBox p {
  font-size: 60px;
  text-align: center;
  margin: 0;
  color: rgb(248, 6, 6);
}
