/* --------------
-----------------
                                  Resort LeftBar
-----------------
----------------*/


.resortLeftBar{
    flex: 1.2;
    position: sticky;
    top: 320px;
    height: calc(100vh - 70px);
    overflow: scroll;
    /* padding: 0 10px; */
    /* // padding-top: 50px; */
    &::-webkit-scrollbar{
      display: none;
    }
}
.resortLeftBar h1{
  font-size: 18px;
  padding-left: 20px;
}
.leftBar{
  padding-left: 10px;
}
.btn-leftBar{
  padding-top: 30px;

}
.leftBar-btn-info{
  border: none;
  border-radius: 4px;
  background-color: #e11d48;
  width: 120px;
  height: 30px;
  text-align: center;
  font-weight: bold;
}




/* --------------
-----------------
                                  Resort RightBar
-----------------
----------------*/

/* .resortRightBar{
    flex: 1.5;
    position: sticky;
    top: 320px;
    height: calc(100vh - 70px);
    overflow: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
}
.rightBar{
  height: 220px;
  padding-top: 120px;
}
.rightBar h6{
  font-size: 12px;
  text-align: end;
  padding-right: 8px;
} */