.seeDetails {
    position: sticky;
    top: 80px;
    padding-top: 30px;
    margin: 0;
    height: calc(100vh - 70px);
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
.seeDetails h1{
    font-size: 32px;
}
.package-header{
    display: flex;
    justify-content: space-between;
}
.details {
    display: grid;
    grid-template-columns: 4fr, 1fr;
}
.details-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.btn-btn-day {
    display: flex;
    padding-top: 20px;
}
.btn-day-1 {
}
.btn-day-1 button {
    border: none;
    font-weight: bold;
    padding: 2px;
    background-color: teal;
    border-radius: 4px;
}
.btn-day-2 {
    padding-left: 30px;
}
.btn-day-2 button {
    border: none;
    font-weight: bold;
    padding: 2px;
    background-color: teal;
    border-radius: 4px;
}
.btn-day-3 {
    padding-left: 30px;
}
.btn-day-3 button {
    border: none;
    font-weight: bold;
    padding: 2px;
    background-color: teal;
    border-radius: 4px;
}
/* .food-day-2, 
.food-day-3{
    display: none;
} */
